@tailwind base;
@tailwind components;
@tailwind utilities;


/* Apply the gradient background */
html, body {
  background:#FEFAE0  ;/* Gradient from softOlive to sageGreen */
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0;
  color: #020202;;
}

body {
  min-height: 100vh;
  background-attachment: fixed; /* Keeps the gradient fixed on scroll */
}

@layer base {
  :root {
    --radius:0.5rem;
  }
}
